@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    outline: none;
}
html{
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    color: #333;
    background: #f7f7f7;
    font-size: 1em;
    font-family: "Comic Sans MS", sans-serif;
    line-height: 135%;
}

a{
    color: rgba(40, 40, 40, 0.83);
    text-decoration: none;
    transition: all.6s ease;
}
a:hover{
    color: #0c00ff;
    text-decoration: none;
    transition: all.6s ease;
}
a:active{color: #b12aff}

img{
    max-width: 100%;
    height: auto;
    width: auto\9;
}

::selection{background: rgba(30, 30, 30, 0.83); color: #b6ff82}

header, footer{
    width: 100%;
    min-height: 30px;
    float: left;
}
header{
    border-bottom: 2px solid silver;
    padding: 1%;
}
#logo{
    font-size: 2em;
}
.contact{
    font-size: 1.5em;
    margin-left: 20px;
}

input[type=text].field {
    border-radius: 5px; border: 2px solid silver;
    padding: 5px; margin-left: 20px;
}
input[type=text].field:focus{
    border: 2px solid #ff2843;
}

#menu{
    color: #ffc937;
    font-size: 1.7em;
}
#menu hr{
    width: 500px;
    max-width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}

#wrapper{
    float: left; width: 100%; margin-top: 20px ;
}
#wrapper #articles{
    float: left; width: 80%;margin-left: 10%;
}
#wrapper #articles article{
    float: left; width: 31.333%; border: 1px solid silver;
    box-sizing: border-box; border-radius: 10px;
    margin-right: 2%; height: 435px; margin-bottom: 15px;margin-top: 15px;
}
@media (max-width: 1099px) {

    #wrapper #articles article{
        width: 100%;
        margin-bottom: 10px;

    }
}
@media (min-width: 9000px) {

    #wrapper #articles article{
        width: 31.333%;
        margin-right: 2%;
        margin-bottom: 10px;
    }}
@media (min-width: 8990px) and (min-width: 1100px) {

    #wrapper #articles article{
        width: 80%;
        margin-left: 10%;
        margin-bottom: 10px;
    }}
#wrapper #articles article img{
    width: 65%; height: 250px;border-radius: 5px 5px 5px 5px;
     margin-bottom: 10px;margin-left: 18%;margin-top: 20px;
}
#wrapper #articles article h2{ width: 80%;
    margin-left: 20% ;font-size: 1em;
    color: rgb(0, 2, 13);}
#wrapper #articles article p{width: 85%; margin-left: 38%; margin-bottom: 1%;margin-top: 3%;
    text-indent: 1.6em; color: rgb(0, 5, 47);;
}




#wrapper #articles article button{ padding: 5px; background-color: rgba(43, 43, 43, 0.83);margin-right: 30%;border-radius: 5px;font-size: 1.2em;
    float: right; margin-top: 5px; margin-bottom: 5px;color: #8ca2ff;font-family: "Comic Sans MS", sans-serif;}
#wrapper #articles article button:hover{ background-color: rgba(34, 48, 112, 0.83)}

#wrapper #articles #main_block{
    margin-top: 1px;
     float: left;
    max-width: 100%;
    height: 100px;
    width: 100%;
    margin-bottom: 400px;


}
#wrapper #articles #main_block #main_block_in{
    text-align: center; padding: 1%;
    margin-left: auto;margin-right: auto;
    height: auto;
    border: 1px solid silver; border-radius: 10px; width: 800px;
    max-width: 98%; box-sizing: border-box;
    margin-bottom: 20px;
}
hr{display: block  ;border: 0;  height: 1px;border-top: solid #cccccc 1px;}
.clear{clear: both}
.left{float: left}
.right{float: right}
footer{
    border-top: 2px solid silver;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 1%;
    float: left;
}
footer img{width: 10% ;float: left; margin-right: 5px}
#page-wrap:after{content: "";
    display: block;  }
footer, #page-wrap:after{height: 20px}
#page-wrap{min-height: 93%;margin-bottom: -10px}
#about{
    width: 60%; float: left; background-color: rgba(30, 30, 30, 0.83) ; border-radius: 5px;
    border: 1px solid silver; box-sizing: border-box; padding: 1%;
}
#column_right{
    width: 30%; float: left; margin-left: 5%;background-color: rgba(90, 91, 90, 0.83); border-radius: 5px;
    border: 1px solid silver; box-sizing: border-box; padding: 1%;
}
form{
    width: 65%;
    margin-left: 36%;
    float: left;
}
form input{
    border-radius: 5px;
    border: 2px solid silver;
    padding: 5px;
    float: left;
    clear: both;
    margin-bottom: 10px;
    width: 45%;
    background-color: rgba(204, 204, 204, 0.83)
}
form select{
    border-radius: 5px;
    border: 2px solid silver;
    padding: 5px;
    float: left;
    clear: both;
    margin-bottom: 10px;
    width: 42%;
    background-color: rgba(204, 204, 204, 0.83)
}

form input:focus, form textarea:focus{
    border: 2px solid #ff9135;
}

form select:focus, form textarea:focus{
    border: 2px solid #ff9135;
}
form label{
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

form textarea{
    width: 60%;
    float: left;
    clear: both;
    background-color: rgba(47, 46, 46, 0.83);
    border: 2px solid silver;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.5em;
}

#wrapper #articles form button{
    float: right;
    margin-right: 72%;
    padding: 10px;
    background-color: rgba(78, 78, 78, 0.83);
    border-radius: 5px;
    margin-top: 20px;
    font-size: 1.5em;
    color: #8ca2ff;
    cursor: pointer;
}

#wrapper #articles form button:hover {
    background-color: rgba(34, 48, 112, 0.83);

}

#wrapper #articles form button:active {
    border-radius: 15%;

}

#wrapper #articles #fik {

    display: flex;
    justify-content: center;
    align-content: center;
}
#wrapper #articles #fik button{
    background-color: rgba(78, 78, 78, 0.83);
    border-radius: 5px;
    font-size: 1em;
    color: #8ca2ff;
    cursor: pointer;
   width: 20px;
    margin-bottom: 20px;

}

#tit{
    padding: 3%;
    color: rgba(0, 0, 0, 0.83);
}

#wrapper #articles article a img{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 80%; height: auto;


}
#wrapper #articles article a h1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    color: rgb(0, 5, 47);
}





